Library
Assembly-CSharp-firstpass-vs.csproj
Assembly-CSharp-firstpass.csproj
Assembly-CSharp-vs.csproj
Assembly-CSharp.csproj
Assembly-UnityScript-firstpass-vs.unityproj
Assembly-UnityScript-firstpass.unityproj
Temp
Assets/UnityVS
Assets/UnityVS.meta
Assembly-CSharp-Editor-vs.csproj
Assembly-CSharp-Editor.csproj
*.sln

*.apk
*.csproj
*.suo
obj/
*.userprefs
